.container{
    background: linear-gradient(85deg,black,rgba(0, 0, 0, 0.418));
    color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(122, 169, 255, 0.35) 0px 5px 15px;
}