<!-- title is a variable which is declared in app.component.ts file -->
<!-- If we want to use any variable for dynamically changing then we use {{variable_name}} this formula -->
<!-- <h1>This is {{title}}</h1> -->

<!-- Todos selector -->
<div class="box">
  <!-- Right Circle -->
  <div class="circle1"></div>
  <!-- App Navbar -->
  <app-navbar></app-navbar>

  <div class="container">
    <router-outlet></router-outlet>
    <!-- App Todos Component -->
    <!-- <app-todos></app-todos> -->
  </div>

  <!-- Bottom Left Circle -->
  <div class="circle2"></div>
</div>
