h4 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.9rem;
    font-weight: 600;
}

.add label{
    color: whitesmoke;
    font-size: 1.1rem;
}

input[type=text]{
    background: linear-gradient(65deg,rgb(157, 13, 170),rgb(5, 65, 133));
    border-style: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    font-size: 1rem;
}

textarea{
    background: linear-gradient(65deg,rgb(157, 13, 170),rgb(5, 65, 133));
    border-style: none;
    box-shadow: rgba(185, 185, 189, 0.2) 0px 7px 29px 0px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center button {
    font-size: 1.2rem;
    border-radius: 15px;
}