nav{
    background-color: #030708;
}

.navbar-text{
    font-size: 1.5rem;
    color: white;
}

.nav-item{
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-item:hover{
    background: linear-gradient(45deg,rgb(138, 1, 138),rgb(14, 161, 172));
    border-radius: 20px;
}